%h2 Listing tenants

%table.table-striped.table-bordered.table-condensed
  %tr
    %th Name
    %th Email
    %th Landlord
    %th Address
    %th
    %th
    %th

  - @tenants.each do |tenant|
    %tr
      %td= "#{tenant.account.last_name}, #{tenant.account.first_name}"
      %td= tenant.email
      %td= tenant.property ? tenant.property.landlord.email : ''
      %td= "#{tenant.account.street}, #{tenant.account.city}, #{tenant.account.state}"
      %td= link_to 'Show', tenant
      %td= link_to 'Edit', edit_tenant_path(tenant)
      %td= link_to 'Destroy', tenant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tenant', new_tenant_path
