%h2= "Sign up as #{resource_name}"
= form_for(create_account(resource), as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  %div
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  = f.fields_for :account do |a|
    %div
      = a.label :first_name
      %br/
      = a.text_field :first_name
    %div
      = a.label :last_name
      %br/
      = a.text_field :last_name
    %div
      = a.label :street
      %br/
      = a.text_field :street
    %div
      = a.label :city
      %br/
      = a.text_field :city
    %div
      = a.label :state
      %br/
      = a.text_field :state
  %div= f.submit "Sign up"
= render "devise/shared/links"
