%h2 Listing properties

%table.table-striped.table-bordered.table-condensed
  %tr
    %th Name
    %th Landlord
    %th Address
    %th City
    %th State
    %th
    %th
    %th

  - @properties.each do |property|
    %tr
      %td= property.name
      %td= property.landlord.email
      %td= property.street
      %td= property.city
      %td= property.state
      %td= link_to 'Show', property
      %td= link_to 'Edit', edit_property_path(property)
      %td= link_to 'Destroy', property, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Property', new_property_path
