%ul.nav
  - if !current_user
    %li= link_to 'Sign In as Tenant', new_tenant_session_path
    %li= link_to 'Sign In as Landlord', new_landlord_session_path
  - else
    - if current_user.is_a? Tenant
      %li= link_to "Edit Profile", edit_tenant_path(current_tenant)
    - else
      %li= link_to "Edit Profile", edit_landlord_path(current_tenant)
    %li= link_to "View Payments", controller: :payments

