!!!
%html
  %head
    %title RenterPortal
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = nav_bar :fixed => :top do
      = menu_group do
        = menu_item "Home", root_path
        = menu_item "Landlords", "/landlords"
        = menu_item "Tenants", "/tenants"
        = menu_item "Properties", "/properties"
        = menu_item "Service Requests", "/service_requests"
    .container
      = render :partial => 'shared/header'
      = yield