!!!
%html
  %head
    %title Rentopia
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = nav_bar :fixed => :top do
      = menu_group do
        = menu_item "Home", root_path
        = menu_item "Landlords", "/landlords"
        = menu_item "Tenants", "/tenants"
        = menu_item "Properties", "/properties"
        - if current_user
          -#TODO: find a way to use Devise's "resource_name" here instead
          - resource_name = current_user.class.name.downcase.pluralize
          = menu_item "Service Requests", "/#{resource_name}/#{current_user.id}/service_requests"
      - if current_user
        -#TODO - make this right-justified
        = menu_group do
          = menu_item current_user.account.full_name
    .container
      = render partial: 'shared/header'
      = yield